<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
<%= javascript_include_tag "datepicker.js" %> 
<%= javascript_include_tag "datepicker-form.js" %> 

<%= form_for @search, :html => {class: "form-inline"} do |f| %>
    <% if @search.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <legend>
        <h3>Find your perfect vacation</h3>
    </legend>
    <div class="row">
      <span class="help-block">
          <h5>1. Specify the basics</h5>
      </span>
      <div class="col-lg-3">
        <%= f.text_field :origin, :placeholder => "Departing Airport or City", :class => "typeahead form-control", :value => @closest_airport.first.code + " - " + @closest_airport.first.name%>
      </div>
      <div class="col-lg-2">
        <div class="form-group" id="datepicker">
          <div class="input-group">
            <%= f.text_field :depart_date, :id => "dp-input", :value=> Date.today, :class=>"datepicker input-small form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group" id="datepicker-return">
          <div class="input-group">
            <%= f.text_field :return_date, :id => "dp2-input", :value=> Date.today, :class=>"datepicker input-small form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <%= select_tag :traveller, options_for_select((1..9).each {|i| i.to_s + " travellers"}), {:class=>"form-control"} %>
      </div>
      <div class="pull-right">
          <button type="submit" class="btn btn-success" style="width: 150px">Search</button>
      </div>
    </div>
    <div class="row">
      <span class="help-block">
        <h5>2. Customize your results</h5>
      </span>
      <div class="col-lg-2">
          <p>
            <%= f.label :budget %>
            <%= f.text_field :budget, :type =>"text", :id => "amount", :class=>"input-medium span1", :style=>"border: 0; color: #0044cc; font-weight: bold;" %>
          </p>
          <div>
            <div id="slider-range"></div>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="btn-group-vertical">
          <p>Going to:</p>
          <% Region.all.each do |r| %>
            <%= f.label :region_id, :for => "checkbox" do %>
              <%= f.radio_button :region_id, r.Region_Code %>
              <%= r.Region_Description %>
            <% end %>
            <br />
          <% end %>
        </div>
      </div>
      <div class="col-lg-2">
       <div class="btn-group-vertical">
          <p>Activities:</p>
          <% Vacation.limit(5).each do |v| %>
            <%= f.radio_button :vacation_id, v.Vacaton_Type_Code %>
            <%= f.label :vacation_id, v.Vacation_Type_Description %>
            <br />
          <% end %>
        </div>
      </div>
      <!--<div class="col-lg-2">
        <div class="btn-group-vertical">
          <p>Location:</p>
          <div class="radio">
            <label for="radio10">
                <input type="radio" value="true" name="locationRadio" id="radio6">
                Beach
            </label>
          </div>
          <br /> 
          <div class="radio">
            <label for="radio11">
                <input type="radio" value="true" name="locationRadio" id="radio7">
                Mountain
            </label>
          </div>
          <br />
          <div class="radio">
            <label for="radio12">
                <input type="radio" value="true" name="locationRadio" id="radio8">
                City
            </label>
          </div>
          <br />
          <div class="radio">
            <label for="radio12">
                <input type="radio" value="true" name="locationRadio" id="radio9">
                Somewhere warm
            </label>
          </div>
        </div>
      </div>-->
      <div class="col-lg-1">
        <div class="btn-group-vertical">
          <p>I need:</p>
          <div class="checkbox">
              <%= f.label :flight, :for =>"checkbox" do %>
                <%= f.check_box :flight, {checked: true} %>
                Flights
              <% end %>
              <%= f.label :hotel, :for =>"checkbox" do %>
                <%= f.check_box :hotel %>
                Hotels
              <% end %>
              <%= f.label :car, :for =>"checkbox" do %>
                <%= f.check_box :car %>
                Cars
              <% end %>
            </div>
        </div>
      </div>
      <div class="col-lg-2">
        <%= f.text_field :destination, :placeholder => "Destination City", :class => "form-control"%>
      </div>
    </div>
<% end %>
<script>
$(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 10000,
                values: [0, 3000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
              " - $" + $("#slider-range").slider("values", 1));
        });
</script>
